HELP.md

#############################
# Maven
#############################

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#############################
# Spring Tool Suite (STS)
#############################

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#############################
# IntelliJ IDEA
#############################

.idea/
*.iws
*.iml
*.ipr

#############################
# Eclipse
#############################

.project
.classpath
.settings/
bin/

#############################
# NetBeans
#############################

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

build/
!**/src/main/**/build/
!**/src/test/**/build/

#############################
# VS Code
#############################

.vscode/

#############################
# Logs
#############################

*.log
logs/

#############################
# Environment Files
#############################

.env
.env.*

#############################
# Uploaded Files
#############################

uploads/
receipts/

#############################
# OS Files
#############################

.DS_Store
Thumbs.db

#############################
# Temporary Files
#############################

*.tmp
*.swp